.styledButton{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 1rem;
    margin: 1rem 0;

    border: none;
    border-radius: 5px;
    background-color: cyan;
    color: black;
    cursor: pointer;
}
.styledButton:disabled{
    background-color: gray;
}