:root {
  --main-light-bg-color: #212124;
  --text-light-color: #ffffff;

  --main-dark-bg-color: #212124;
  --text-dark-color: #ffffff;
}

body,
head {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.lightTheme {
  background-color: var(--main-light-bg-color);
  color: var(--text-light-color);
}
.darkTheme {
  background-color: var(--main-dark-bg-color);
  color: var(--text-dark-color);
}
